/* This file is a merged substitute for following files

/css/ns/carousel.css
/css/ns/homepage-hero.css
/css/ns/responsive.css
/css/ns/popup.css
/css/hp-redesign-2011/hp-test3-2011-green.css
/css/hp-redesign-2012/hp1.css
/css/hero_carousel/homepage2.css
/css/hp-redesign-2012/bmi.css

*/


/*start no offer*/
 .generic-promo-section {
        display: block;
        height: 44px;
        width: 940px;
        background: #503a82;
        color: #fff;
        margin: 5px auto;
        position: relative;
        font-family: "futura-pt", Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .promo-content {
        font-weight: 500;
        font-size: 20px;
        padding: 10px 0px 0px 0px;
    }
    .promo-content span {
        font-size: 13px;
        font-weight: 400;
    }
    .promo-content sup {
        font-size: 9px;
        position: relative;
        top: -2px;
    }
/*end no offer*/


/*start default header*/
div.banner {
    background-image: url("/images/homepage/08192014/homepage-promo.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 44px;
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 940px;
    z-index: 1;
}

.banner .promo, .bannersem .promo {
    left: 791px;
    position: absolute;
    top: 12px;
}

.banner .promo p a.seeDetails, .bannersem .promo p a.seeDetails {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    height: 43px;
    left: -6px;
    position: absolute;
    top: 1px;
    width: 165px;
}

#offerDetails {
    background: url("/images/homepage/04152014/shake_bg.png") no-repeat scroll 0 0 #fff;
    color: #444;
    height: 370px;
    left: 35% !important;
    padding-bottom: 0;
    padding-left: 159px;
    padding-top: 0;
    position: absolute;
    top: 25% !important;
}

.ns-popup {
    background: none repeat scroll 0 0 #ffffff;
    border: 5px solid #6eb43f;
    border-radius: 3px;
    color: #4c4c4c;
    display: none;
    font-family: "futura-pt", sans-serif;
    padding: 5px 0 25px;
    width: 424px;
}

.ns-popup .close {
    background: url("/images/hp-redesign-2013/interim-hp/btn_closebox.png") no-repeat scroll 0 0;
    height: 40px;
    position: absolute;
    right: -20px;
    text-indent: -9999px;
    top: -20px;
    width: 30px;
}

.ns-popup h3 {
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}

#offerDetails h3 {
    font-size: 20px;
    line-height: 20px;
    padding: 32px 24px 0 10px;
    text-align: left;
}

#offerDetails ul {
    font-size: 15px;
    list-style-type: disc;
    margin: 20px 10px 10px auto;
    width: 380px;
}

#offerDetails h4 {
    color: #ff6d01;
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}

#offerDetails h4, #offerDetails p {
    text-align: center;
}

#offerDetails sup {
    font-size: xx-small;
    vertical-align: super;
}

sup.small {
    font-size: xx-small;
    vertical-align: super;
}

#offerDetails h4 img {
    position: relative;
    top: 4px;
}

#offerDetails .ctaWrapper {
    margin-top: 3px;
}

.ns-popup .ctaWrapper {
    margin-top: 10px;
    text-align: center;
}

.ns-popup a.cta_button {
    background: url("/images/homepage/11272013/ctaBtnBg.png") repeat-x scroll 0 0;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline-block;
    font-family: "futura-pt", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin: 5px;
    padding: 4px 10px;
    width: auto;
}

#offerDetails .allplan {
    display: none;
}

#offerDetails .ns-disclaimer {
    font: 11px Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

#offerDetails .ns-disclaimer div {
    padding: 2px 0;
}
/*end default header*/

/*starts 30 plus 10d*/
.banner-30-plus-10d { 
	background-image: url("/images/homepage/08192014/banner-30-plus-10d.png"); 
	background-position: left top; 
	background-repeat: no-repeat; 
	height: 44px; 
	left: 0; 
	margin: auto; 
	position: relative; 
	top: 0; 
	width: 940px; 
	z-index: 1; 
	} 
	
	.banner-30-plus-10d .promo { 
	left: 791px; 
	position: absolute; 
	top: 12px; 
	} 
	
	.banner-30-plus-10d .promo p a.seeDetails { 
	color: #fff; 
	font-size: 12px; 
	font-weight: 700; 
	height: 43px; 
	left: -6px; 
	position: absolute; 
	top: 1px; 
	width: 165px; 
	} 
	
	.banner-30-plus-10d .promo p a.seeDetails:hover { 
	text-decoration: none; 
	}
/*ends 30 plus 10d*/


/*start 40_Plus_50d_Off*/
 .banner-bg {
        display: block;
        height: 44px;
        width: 940px;
        color: #fff;
        margin: 5px auto;
        position: relative;
        font-family: "futura-pt", Arial, Helvetica, sans-serif;
        background: url("/images/homepage/banners/purple-promo-bar-bg.jpg")0 0 no-repeat;
        text-transform: uppercase;
    }
    .banner-bg .promo {
        font-weight: 500;
        font-size: 19px;
        letter-spacing: -.5px;
        padding: 11px 0px 0px 190px;
    }
    .banner-bg .promo p {
        margin: 0;
    }
    .banner-bg .promo p sup {
        font-size: 9px;
        position: relative;
        top: -2px;
    }
    .banner-bg .promo p span {
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0px;
    }

/*end 40_Plus_50d_Off*/


/*start SEM_RTG_40pc_Plus_1_Week*/
.banner-bg {
        display: block;
        height: 44px;
        width: 940px;
        color: #fff;
        margin: 5px auto;
        position: relative;
        font-family: "futura-pt", Arial, Helvetica, sans-serif;
        background: url("/images/homepage/banners/purple-promo-bar-bg.jpg")0 0 no-repeat;
        text-transform: uppercase;
    }
    .banner-bg .promo {
        font-weight: 500;
        font-size: 19px;
        letter-spacing: -.5px;
        padding: 11px 0px 0px 190px;
    }
    .banner-bg .promo p {
        margin: 0;
    }
    .banner-bg .promo p sup {
        font-size: 9px;
        position: relative;
        top: -2px;
    }
    .banner-bg .promo p span {
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0px;
    }

/*end SEM_RTG_40pc_Plus_1_Week*/



/* Corporate Partner banners - next 3 rules */
.banner10 {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/08092014/homepage-promo-10pc.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}

.banner12 {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/08092014/homepage-promo-12pc.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}

.banner30 {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/08092014/homepage-promo-30.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}

.banner25 {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/10312014/homepage-promo.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}

.banner .promo p a.seeDetails, .bannersem .promo p a.seeDetails, .banner10 .promo p a.seeDetails, .banner12 .promo p a.seeDetails, .banner30 .promo p a.seeDetails {
    height: 43px; 
                color: #fff; 
                font-size: 13px; 
                font-weight: 700; 
                left: -3px; 
                position: absolute; 
                top: 4px; 
                width: 165px; 
}

/*END CORPORATE BANNER*/

.banner .promo, .bannersem .promo, .banner10 .promo, .banner12 .promo, .banner30 .promo {
    left: 791px;
    position: absolute;
    top: 12px;
}


.ns-carousel {
	height:414px;width:1080px;position: relative;overflow: hidden;margin: 0 auto;
}

.ns-carousel .ns-pane-wrapper {position: absolute;}

.ns-carousel .pane {float:left;height:414px;width:1080px;position: relative;}

.ns-carousel .controls {
	position: absolute; bottom: 10px; right: 80px;
	background: #fff; 
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.25), 0px 0px 0px 5px 3gba(255, 255, 255, 0.5);

    -webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 9px 20px 0;
	height: 18px;
	z-index:20;
}

.ns-carousel .controls a {
	text-indent: -9999px;
	display: inline-block;margin: 0 2px 5px;
	background: #666666;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	height: 9px;width: 9px;
}

.ns-carousel .controls a.active,
.ns-carousel .controls a:hover {
	background: #ff6d01;
}

.ns-carousel .controls a.arrow {
	text-indent: 0;
	color: #fff;
	-webkit-border-radius: 11px;
	border-radius: 14px;
	height: 14px;
	width: 14px;
	font-size: 18px;
	font-weight: 600;
	padding: 0px 0 0 0;
	line-height: 11px;
	text-align: center;
	position: relative;
	top: -4px;
	margin-left: 5px;
}

.ns-carousel .controls a.arrow.prev {
	padding-right: 2px;
	width: 12px;
	margin-left: 0px;
	margin-right: 5px;
}

html.dj_ie7 .ns-carousel .controls a {
	position:relative;top:-10px;
}
html.dj_ie7 .ns-carousel .controls a.arrow {
	top:-4px;
}

.clear {
    clear: both;
}
/* Hero */
.banner {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/08192014/homepage-promo.png");
    background-position: top left;
    background-repeat: no-repeat;
}
/* SEM campaign promo banner */
.bannersem {
    height: 44px;
    width: 940px;
    margin:auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url("/images/homepage/08192014/homepage-promo-sem.png");
    background-position: top left;
    background-repeat: no-repeat;
}

.banner .promo, .bannersem .promo {
    left: 791px;
    position: absolute;
    top: 12px;
}

.banner .promo p a.seeDetails, .bannersem .promo p a.seeDetails {
    height: 43px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    left: -6px;
    position: absolute;
    top: 1px;
    width: 165px;
}

.banner .promo p a.seeDetails:hover, .bannersem .promo p a.seeDetails:hover {
    text-decoration: none
}

.ns-carousel h2.dan-hero-text {
    font-size: 22px;
    font-weight: 300;
    color: #7f6447;
    position: absolute;
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    line-height: 22px;
    top: 235px;
    left: 265px;
}
.ns-carousel h2.marie-hero-text {
    font-size: 22px;
    font-weight: 300;
    color: #7f6447;
    position: absolute;
    top: 230px;
    left: 285px;
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    line-height: 22px;
}
.tt-wrapper {
    background: url('/images/homepage/08192014/pur-cir1.png');
    width: 116px;
    height: 116px;
    position: absolute;
    z-index: 25;
}
.hero-slide-1 .tt-wrapper {
    bottom: 10px;
    right: 348px;
}
.hero-slide-2 .tt-wrapper {
    bottom: 10px;
    right: 300px;
}
.tt-wrapper a.transformation-toggle {
    color: #fff;
    text-align: center;
    font:14px/18px  normal Arial, Helvetica, san-serif;
    letter-spacing: 0.05em;
    height: 60px;
    margin: 22px 0 0 0px;
    position: absolute;
    top: 5px;
    left: 10px;
}
a.transformation-toggle {
    color: #fff;
    text-align: center;
    font:14px/18px  normal Arial, Helvetica, san-serif;
    letter-spacing: 0.05em;
    height: 60px;
    margin: 22px 0 0 0;
    position: absolute;
}
.tt-wrapper a.transformation-toggle:hover {
    text-decoration: none;
}
a.transformation-toggle:hover {
    text-decoration: none;
}
.slides_container {
    /*left: 8px;
    top: -44px; */
}
.ns-carousel, .ns-carousel .pane {
    width: 1411px;
    height: 476px;
}
.hero-slide-1 {
    background-image: url("/images/homepage/08192014/ie-marie-hero-nopromo.png");
    background-position: top left;
    background-repeat: no-repeat;
}
.hero-slide-2 {
    background-image: url("/images/homepage/08192014/ie-dan-hero-nopromo.png");
    background-position: top left;
    background-repeat: no-repeat;
}
.ns-carousel .main_cta {
    bottom: 90px;
}
.dan-transformation, .marie-transformation {
    z-index: 999;
}
/*
    NS-Hero
*/
#content #row2Wrap {
    display: block;
}
.ieeightfallbackimage {
    position: absolute;
    left: 6px;
}
#ns-hero-container {
    margin: auto;
    /* max-width: 1411px; */
    padding: 0 30px;
}
.ns-carousel .controls {

    z-index: 20;
}
.tp-bullets {
    background: none repeat scroll 0 0 #fff;
    border-radius: 7px;
    bottom: 10px;
    height: 18px;
    padding: 9px 20px 0;
    position: absolute;
    left: 1116px !important;
    width: 75px;
    z-index:1000;
    opacity: 1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -webkit-transform: translateZ(5px);
}

.tp-bullets.simplebullets.round .bullet {
    background: none repeat scroll 0 0 #666666;
    border-radius: 9px;
    display: inline-block;
    height: 9px;
    margin: 0 5px 5px 5px;
    text-indent: -9999px;
    width: 9px;
    top: 2px;
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
    background: none repeat scroll 0 0 #ff6d01;
}


.main_cta {
    background: url('/images/homepage/08192014/cta-bg.png') no-repeat;
    width: 322px;
    height: 98px;
    position: absolute;
    left: 344px;
    bottom: 110px;
    display: block;
    z-index: 100;
}
.main_cta a.getStarted {
    position: relative;
    left: 110px;
    top: 31px;
    color: #fff;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}
.hero-disclaimer {
    color: #656565;
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 290px;
    bottom: 10px;
}
.main_cta:hover {
    background: url('/images/homepage/08192014/cta-bg-hover.png') no-repeat;
}
.tt-wrapper {
    background: url('/images/homepage/08192014/pur-cir1.png');
    width: 116px;
    height: 116px;
    position: absolute;
    z-index: 25;
}
.hero-slide-1 .tt-wrapper {
    /*bottom: 10px;
    right: 348px;*/
}
.hero-slide-2 .tt-wrapper {
    /*bottom: 10px;
     right: 300px;*/
}

.ns-carousel .controls a.arrow {
    border-radius: 14px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 14px;
    line-height: 11px;
    margin-left: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    text-indent: 0;
    top: -4px;
    width: 14px;
}
.ns-carousel .controls a.arrow.prev {
    margin-left: 0;
    margin-right: 5px;
    padding-right: 2px;
    width: 12px;
}

/* Carousel */
/* Overwrites Carousel.css! */

.slides_container.short.homepageDefault {
    background: none;
    height: 476px;
    border-top: none;
    margin-bottom: 0px;
    overflow: hidden;
}

.slides_container.short.homepageDefault.with_banner .pane_content {
    margin: 60px 0 0 60px;
    width: 55%;
}

#marie {
    background: url('/images/homepage/08192014/marie-black.png');
    width: 287px;
    height: 522px;
    position: absolute;
    top: 35px;
    right: 275px;
    right: 275px\9;
}

#cameraLeft {
    background: url('/images/homepage/08192014/camera-left.png');
    width: 222px;
    height: 469px;
    position: absolute;
    top: 11px;
    left: -50px;
    left: -50px\9;
}

#cameraRight {
    background: url('/images/homepage/08192014/camera-right.png');
    width: 306px;
    height: 476px;
    position: absolute;
    top: 4px;
    right: -60px;
    right: -60px\9;
}

#dan {
    background: url('/images/homepage/08192014/dan-orange.png');
    width: 356px;
    height: 522px;
    position: absolute;
    top: 35px;
    right: 220px;
    right: 220px\9;
}

#fanLeft {
    background: url('/images/homepage/08192014/fan-left.png');
    width: 241px;
    height: 476px;
    position: absolute;
    top: 4px;
    left: -60px;
    left: -60px\9;
}

#fanRight {
    background: url('/images/homepage/08192014/fan-right.png');
    width: 341px;
    height: 421px;
    position: absolute;
    top: 59px;
    right: 0px;
    right: 0px\9;
}

.tp-banner-container h2.dan-hero-text {
    font-size: 22px;
    font-weight: 300;
    color: #7f6447;
    position: absolute;
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    line-height: 22px;
}
.tp-banner-container h2.marie-hero-text {
    font-size: 22px;
    font-weight: 300;
    color: #7f6447;
    position: absolute;
    /*top: 230px;
    left: 285px; */
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    line-height: 22px;
}
.pane2 .tt-wrapper {
    right: 200px;
    right: 200px\9;
}

a.transformation-toggle:hover {
    text-decoration: none;
}

.pane4 .transformation-toggle {
    right: 142px;
}

.marie-transformation {
    display: none;
    position: absolute;
    right: 640px;
    top: 70px;
    z-index: 200;
}

.marie-transformation  {
    background: url('/images/homepage/08192014/marie-transformation.png') 0 0 no-repeat ;
    width: 288px;
    height: 393px;
}
.marie-transformation h6 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    left: 41px;
    position: absolute;
    top: 272px;
}
.marie-transformation .transformation-disclaimer {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    left: 38px;
    position: absolute;
    top: 298px;
    width: 212px;
    text-align: center;
}
.transformation-disclaimer-link {

}

.marie-transformation a.main-transform {

}

.dan-transformation {
    position: absolute;
    left: 470px;
    top: 70px;
    display: none;
    z-index: 200;
}

.dan-transformation  {
    background: url('/images/homepage/08192014/dan-transformation.png') no-repeat 0 0;
    width: 288px;
    height: 393px;
}
.dan-transformation h6 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    left: 51px;
    position: absolute;
    top: 272px;
}
.dan-transformation .transformation-disclaimer {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    left: 29px;
    position: absolute;
    top: 298px;
    width: 212px;
    text-align: center;
}
.dan-transformation a.main-transform {

}

.marie-transformation a.close-transform {
    background: url('/images/homepage/08192014/close-transform.png') 0 0 no-repeat;
    display: block;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 14px;
    top: 1px;
}

.dan-transformation a.close-transform {
    background: url('/images/homepage/08192014/close-transform.png') 0 0 no-repeat;
    display: block;
    height: 21px;
    width: 21px;
    position: absolute;
    right: 17px;
    top: 1px;
}
/* Offer Details Overlay */

#offerDetails {
    color: #444;
    background: #fff url(/images/homepage/04152014/shake_bg.png) no-repeat 0 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 159px;
    height: 370px;
    top: 25%!important;
    position: absolute;
    left: 35%!important;
}

#offerDetails h3 {
    font-size: 20px;
    padding: 32px 24px 0 10px;
    line-height: 20px;
    text-align: left;
}

#offerDetails ul {
    font-size: 15px;
    list-style-type: disc;
    width: 380px;
    margin: 20px 10px 10px auto;
}

#offerDetails h4, #offerDetails p {
    text-align: center;
}

#offerDetails h4 {
    font-size: 28px;
    color: #ff6d01;
    font-weight: 400;
    margin-top: 10px;
}

#offerDetails .ctaWrapper {
    margin-top: 3px;
}

#offerDetails h4 img {
    position: relative;
    top: 4px;
}

#offerDetails sup {
    font-size: xx-small;
    vertical-align: super;
}

#offerDetails .ns-disclaimer {
    font: 11px/normal Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

#offerDetails .ns-disclaimer div {
    padding: 2px 0;
}
#offerDetails .allplan {
    display: none;
}

@media screen and (max-width: 1400px) {
    #ns-hero-container {
        padding: 0;
    }
    .ns-carousel, .ns-carousel .pane {
        width: 940px;
        height: 476px;
    }
    .hero-slide-1 {
        background: url("/images/homepage/08192014/marie-hero-nopromo-940.png") 0 0 no-repeat;
    }
    .hero-slide-2 {
        background: url("/images/homepage/08192014/dan-hero-nopromo-940.png") 0 0 no-repeat;
    }
    .ns-carousel h2.marie-hero-text {
        left: 52px;
    }
    .ns-carousel h2.dan-hero-text {
        left: 44px;
    }
    .ns-carousel .main_cta {
        left: 88px;
        bottom: 80px;
    }
    .hero-disclaimer {
        left: 25px;
        bottom: 5px;
    }
    .hero-slide-1 .tt-wrapper {
        right: 67px;
        bottom: 50px;
    }
    .hero-slide-2 .tt-wrapper {
        right: 47px;
        bottom: 51px;
    }
    .ns-carousel .controls {
        right: 40px;
    }
    .dan-transformation {
        left: 240px;
    }
    .marie-transformation {
        left: 240px;
    }
    #mainHeroCtaPop {
        left: 35%!important;
    }

}


.ns-popup {
    font-family: "futura-pt",sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #6eb43f;
    border-radius: 3px;
    color: #4c4c4c;
    width: 424px;
    padding: 5px 0px 25px;
    display: none;
}
.ns-popup .close {
    background: url(/images/hp-redesign-2013/interim-hp/btn_closebox.png) no-repeat;
    right: -20px;
    top: -20px;
    height: 40px;
    position: absolute;
    width: 30px;
    text-indent: -9999px;
}

.ns-popup h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    font-family: "futura-pt", sans-serif;
}

.ns-popup .ctaWrapper {
    text-align: center;
    margin-top: 10px;
}

.ns-popup a.cta_button {
    background: url(/images/homepage/11272013/ctaBtnBg.png) repeat-x;
    display: inline-block;
    padding: 4px 10px;
    width: auto;
    margin: 5px;
    color: #fff;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 600;
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

@charset "UTF-8";
/* CSS Document */

/* HOMEPAGE TEST 3 2011 GREEN PROMO WITH BUTTONS*/

/* START HERO */
#janet {
	width:642px; height:332px; float:left; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/janet-bg.jpg); background-repeat:no-repeat;
}

#hero-btn {
	width:330px; height:57px; float:left; padding-left:309px;
}

#hero-btn .women {
	width:109px; height:28px; display:block; float:left; margin-right:3px; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/btn-women.jpg); background-repeat:no-repeat; overflow:hidden; line-height:80px;
}

#hero-btn .men {
	width:99px; height:28px; display:block; float:left; margin-right:3px; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/btn-men.jpg); background-repeat:no-repeat; overflow:hidden; line-height:80px;
}

#hero-btn .diabetic {
	width:109px; height:28px; display:block; float:left; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/btn_diabetic.jpg); background-repeat:no-repeat; overflow:hidden; line-height:80px;
}

#all-new-ribbon {
	width:76px; height:71px; position:relative; top:-8px; left:213px; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/all-new-ribbon.png); background-repeat:no-repeat;
}

/* START PROMO BOX */
#promo-box-order-get-our {
	width:290px; height:332px; float:left; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo-bg-order-get-our.jpg); background-repeat:no-repeat;
}

#promo-box-order-get {
	width:290px; height:332px; float:left; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo-bg-order-get.jpg); background-repeat:no-repeat;
}

#promo-box-order-and {
	width:290px; height:332px; float:left; background-image:url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo-bg-order-and.jpg); background-repeat:no-repeat;
}

#offer-box {
	width:244px; height:179px; float:left; margin:56px 0 0 17px;
}

#offer-btn {
	width:244px; height:38px; float:left; margin:35px 0 0 30px;
}

#offer-btn .women {
	display:block; float:left; width:76px; height:27px; margin-right:5px; background: transparent url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo_btn_women.png) no-repeat scroll 0 0; overflow:hidden; line-height:70px;
}

#offer-btn .men {
	display:block; float:left; width:55px; height:27px; margin-right:5px; background: transparent url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo_btn_men.png) no-repeat scroll 0 0; overflow:hidden; line-height:70px;
}

#offer-btn .diabetic {
	display:block; float:left; width:75px; height:27px; background: transparent url(http://content.nutrisystem.com/images/hp-redesign-2011/hero/2011-12-janet/promo_btn_diabetic.png) no-repeat scroll 0 0; overflow:hidden; line-height:70px;
}

#offer-img {
	width:225px; height:163px; background-image:url(http://content.nutrisystem.com/images/offers/121412-intro-price/homepg-offer-green.jpg); background-repeat:no-repeat; margin:9px 0 0 11px;
}

body div#doc {background: #fff !important}

div.everywhere_background {background-color: #fff;}

div.last-mod, .last-mod-bmi {margin-left: 0}

#content #row2Wrap {width:940px; margin:0 auto;}

#header {margin-bottom:0;}

#bottomLeft {
	height:450px;width:630px;float:left;
	font-family: "ff-din-web",sans-serif;
	font-style: normal;
	line-height: 1em;overflow: hidden;
	float: right;
	}

#bottomLeft h2,
#orderUp h2 {
text-align: center;
color: #4f3a80;
font-size: 2.5em;
height: 50px;
line-height: 50px;
margin-top: 20px;
font-weight: 300;
float:left;
width: 100%
}

#bottomLeft ol {
	margin: 20px 0 0 0px;
	width: 100%;
	}

#bottomLeft ol>li {
	float:left;
	/*width:31%;float:left;margin-left:10px;*/
	}
#bottomLeft ol>li h3 {
	background: url(../../images/hp-redesign-2012/hp/successLiHdrBrdr.jpg) no-repeat 0 100%;
	height:20px;margin-bottom: 15px;font-weight: 600;color:#4c4c4c;font-size:1.1em;line-height: 1.2em
	}

#bottomLeft ol>li ul li {
	padding-left:15px;
	margin-bottom: 8px;
	color:#4c4c4c;
	width:90%;
	line-height: 1.2em;
	font-size:.9em;
	background: url(../../images/hp-redesign-2012/hp/successLiCheck.gif) no-repeat 0 2px;
	}

#bottomLeft div.riskFree {
	display: block;height: 98px;width: 940px;position: absolute;bottom: 0;left: 0;
	background: url(../../images/hp-redesign-2012/hp/gradBg.jpg) repeat-x
	}

	
	#bottomLeft div.riskFree h3 {margin:34px 0 8px 135px;}

	#bottomLeft div.riskFree img {
		float:left;
		margin-top:15px;
		}
	
	#bottomLeft div.riskFree img {margin-left:40px;}

		#bottomLeft div.riskFree p {
			margin-left: 135px;font-size: .9em
			}

			#bottomLeft div.riskFree p a { margin-top: 8px;display: block;}


#orderUp {
	background: url(../../images/hp-redesign-2012/hp/gradBg.jpg);
	display:block;width:940px;height:291px;margin:5px auto 0;
	font-family: "ff-din-web",sans-serif;
	font-style: normal;
	line-height: 1em;overflow: hidden;
	}

#orderUp h2 {margin-top:10px;}

#orderUp p {
	width: 100%;text-align: center;margin-bottom: 10px;
	}

#orderUp ul {margin-left:17px;}

#orderUp li {
	display: block;float:left;
	width:144px;margin-left: 8px;
	text-align: center
	}

#orderUp li:first-child {margin-left:0;}

#orderUp li h3 {font-size:.85em;font-weight:300;margin-top:5px;}

#btmCtas {
	height:99px;width:940px; margin: 6px auto;
	font-family: "ff-din-web",sans-serif;
	font-style: normal;
	line-height: 1.6em;overflow: hidden;
	}

	#btmCtas ul li {
		height:99px;width:467px;overflow: hidden;float:left;
		float:left;margin-left:6px;
		position: relative;font-size: 1.5em
		}

		#btmCtas ul li:first-child {margin-left:0;}

		#btmCtas ul li.left {
			background: url(../../images/hp-redesign-2012/btm-row/btm-ctas/familyPlanBg.jpg) no-repeat;
		}

		#btmCtas ul li.left p {
			float:right;width:75%;text-align: right;
			margin:25px 15px 0 0;
		}

		#btmCtas ul li.right {
			background: url(../../images/hp-redesign-2012/btm-row/btm-ctas/giftCardBg.jpg) no-repeat;
		}

		#btmCtas ul li.right p {
			float:left;width:75%;text-align: left;
			margin:25px 0 0 15px;
		}


#content div.disclaimer {padding:10px;width:920px;margin:0 auto;border-radius: 0;background: #f4f4f4}

#content div.disclaimer .disclaimer-content {border:0px;color:#666;}

#hpVideo {float:left;margin:20px 20px 0 30px;width:322px; height:241px}

#bottomLeft .blWrap {height:349px;position: relative;}

#bottomLeft.video {padding:0;margin-bottom: 0}

#bottomLeft.video h3 {
	color: #7AC02B;
	font-size: 1.5em;
	height: 60px;
	line-height: 20px;
	margin-top: 20px;
	font-weight: 300;
	}

	#bottomLeft.video p {width:230px;float:left;margin-bottom:45px;}

#bottomLeft .btmLftSq {
	display: block;height: 349px;width:313px;position: relative;
	float:left;margin-left: 2px;
	background: url(../../images/hp-redesign-2012/hp/btmLftBg.png) no-repeat;
}

#bottomLeft #hpSweeps {
	
	
	}

#bottomLeft div.blWrap h2 {
	font-weight: 600;
	color: #fff;
	font-size: 1.5em;
	font-size:19px\9;
	text-align: left;
	width: 293px;
	margin: 4px 0 0 22px;
	}

#bottomLeft div.blWrap .contentWrap {
	line-height: 18px;
	margin: 60px 0 0 25px;
	}

#bottomLeft div.blWrap .contentWrap h3 {margin-bottom: 10px;font-size: 1.1em}

#bottomLeft div.blWrap ol li span {float: left;
font-size: 1.5em;
padding-top: 5px;
margin-right: 6px;
font-weight: 600;}

#bottomLeft div.blWrap ol li {margin-bottom: 5px;}

#bottomLeft div.blWrap ol li p {float:left;line-height: 23px;}

#bottomLeft #hpSweeps .contentWrap label {margin-right: 5px;}

#bottomLeft #hpSweeps .contentWrap input {
	text-align: left;
	margin-top: 2px;
	margin-right: 5px;
	color: #666;
	height: 23px;
	font-size: .9em;
	width: 140px;
	padding-left: 4px;
}

#bottomLeft #hpSweeps .contentWrap div a {position:absolute;}

#bottomLeft #hpSweeps .contentWrap div {position: relative;}

#bottomLeft #hpSweeps .contentWrap > a {position:absolute;bottom:25px;}

#bottomLeft #hpSweeps .contentWrap > a.rulesLink {right:25px;} 

#bottomLeft #hpSweeps .contentWrap #respFormWrapper span {
	position: absolute;top: -16px;
	font-size: .9em;color: red;display: none;
}

#bottomLeft #hpSweeps #happyMoneyLady {
	position: absolute;
	right: 0;
	top: 25px;
}

#bottomLeft #hpSweeps #respFormWrapper {margin-top: 35px;}

.btm-content3-bmi {margin-left: 0}

#content {width:100%;min-width:940px;}

.nutri_logo {
	position: absolute;
	top: 40px;
	z-index: 99999;
}
.promo_main {
	
}
.promo_opacity {
	padding: 10px 0px;
	text-align: center;
	width: 268px;
	background-color: rgba(255, 255, 255, 0.7);
	background-color: #FFFFFF\9;
	filter: alpha(opacity=70);
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.70;
}
.plans_bg {
	background-color: #3f4c6b;
	padding: 10px;
	text-align: center;
}

li div.aSlide {
	position: relative;
	width: 1599px;
	overflow:hidden;
	height: 541px;
}

li div.aSlide .promo_main {
	height:541px;width:317px;
	position:absolute;
	top:0;right:328px;
}

li div.aSlide .promo_main {
	background:url(../../images/hp-redesign-2012/carousel/homePage_slide1_promoBg.jpg) no-repeat 0 0;
	height:541px;width:317px;
	position:absolute;
	top:0;right:327px;
	}

li div.aSlide .promo_main h3 {
	position: relative;
	color: white;
	margin-top: 77px;
	text-align: center;
	height:20px;display:block;line-height:20px;
	}

li div.aSlide .promo_main .promo_inner * {padding:0;margin:0;}

li div.aSlide .promo_main .promo_inner {padding:20px 30px;}

li div.aSlide .promo_main .promo_inner > span,
li div.aSlide .promo_main .promo_inner h4 {color:#000;}

li div.aSlide .promo_main .promo_inner > span {font-size:200%;height:28px;display:block;line-height:28px;margin-bottom: 2px;padding-left:3px;}
li div.aSlide .promo_main .promo_inner h4 {font-size:500%;height:57px;display:block;line-height:70px;margin-top:0px}
li div.aSlide .promo_main .promo_inner p {color:#a5a5a6;text-align: center;font-weight:600;font-size:90%;height:17px;display:block;line-height:20px;margin-top:10px;}
li div.aSlide .promo_main .promo_inner a {height:17px;display:block;line-height:20px;padding:6px 0 0 43px}


li div.aSlide .promo_main h5 {padding-top:7px;color:#666;text-align: center;height:17px;display:block;line-height:20px;font-size:115%;font-weight: 600;padding-left:10px;margin-bottom: 7px}

li div.aSlide .promo_main div.planWrap {width:100%;float:left;display:block;text-align: center;padding-left: 0px;}

li div.aSlide .promo_main div.planWrap a {
	background: url(../../images/hp-redesign-2012/carousel/plansMenu.png) no-repeat 0 0;
	display:block;height:32px;width:188px;margin:2px auto;
	font-size: 0;line-height: 0;text-indent: -9999px;
	}


li div.aSlide .promo_main div.detail {position:relative; }

li div.aSlide .promo_main div.detail,
li div.aSlide .promo_main div.detail * {line-height: 10px;margin:0;text-align: left;padding:;}

li div.aSlide .promo_main div.detail a {padding-left:0;}

li div.aSlide .promo_main div.detail div.detailsWrap {
	position: absolute;left:61px;top:-110px;height:249px;width:221px;
	background: url(../../images/hp-redesign-2012/carousel/detailsBg.png) no-repeat 0 0;
}

li div.aSlide .promo_main div.detail div.detailsWrap h5 {
	margin:25px;font-size: 1.2em;line-height: 20px;height:20px;
	color:#7AC02B;
	}

li div.aSlide .promo_main div.detail div.detailsWrap p {margin:30px 0 0 25px;color:#000;line-height: 15px;font-weight: normal;width:150px;font-size: .9em}

li div.aSlide .promo_main div.detail div.detailsWrap a.close {
	display: block;height: 21px;width: 22px;position: absolute;top:8px;right:11px;
	background: url(../../images/hp-redesign-2012/carousel/closeDetails.jpg) no-repeat 0 0;
	font-size: 0;line-height: 0;text-indent: -9999px;
}

li div.aSlide .promo_main div.planWrap a.mensPlan {background-position: 0 -39px}

li div.aSlide .promo_main div.planWrap a.diabetesPlan {background-position: 0 -78px}

li div.aSlide p.main_p {
	color: #181818;
	width: 320px;
	position: absolute;
	top: 245px;
	left: 333px;
	line-height: 20px;
	font-weight: 500;
	font-size:110%;
	}

.slider1 {
	background:url(../../images/hp-redesign-2012/carousel/homePage_slide1_2.jpg) no-repeat 0 0;
}

.slider2 {
	background: url(../../images/hp-redesign-2012/carousel/homePage_slide2.jpg) no-repeat 0 0;
}
.slider3 {
	background: url(../../images/hp-redesign-2012/carousel/homePage_slide3.jpg) no-repeat 0 0;
}
.slider4 {
	background: url(../../images/hp-redesign-2012/carousel/homePage_men.jpg) no-repeat 0 0;
}
li div.slider1.aSlide {
	height:414px;
}

li div.slider1.aSlide div.promo_main {background-image: none;}

li div.slider1.aSlide .promo_main h3 {
	margin-top:37px;font-size: 110%;
font-weight: normal;
} 

li div.slider1.aSlide .promo_main .promo_inner {
	padding-top: 15px;padding-right: 0;height: 142px;
}

li div.slider1.aSlide .promo_main .promo_inner > span {font-weight: 400;font-size: 160%;}

li div.slider1.aSlide .promo_main .promo_inner h4 span {font-size: 170%;font-weight: 600}

li div.slider1.aSlide .promo_main .promo_inner h4 {height:70px;line-height:86px;text-transform: uppercase;font-weight: 400;font-size: 345%;letter-spacing: -5px;}

li div.slider1.aSlide .promo_main .promo_inner p {text-align: left;margin-left: 5px;font-size: 110%;}

li div.slider1.aSlide .promo_main .promo_inner div.detail {margin-left:5px;}

li div.slider1.aSlide .promo_main h5 {margin-left: 15px;font-size: 1em;}

li div.slider1.aSlide .promo_main div.planWrap {margin:0 0 0 15px;text-transform: uppercase;}

li div.slider1.aSlide .promo_main div.planWrap a {
	background: url(../../images/hp-redesign-2012/carousel/blueLink.png) no-repeat 0 0;
	text-indent: 0;
	line-height: 14px;
	height: 22px;
	text-align: center;
	color: white;
	width: 174px;
	display: block;
	padding: 9px 0 0 0;
	font-size: 100%;
}

li div.slider1.aSlide .promo_main div.planWrap a:hover {text-decoration: none}

li div.slider1.aSlide .promo_main p.lost {
	float: left;
	width: 100%;
	color: black;
	font-size: 130%;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	height:40px;
}

li div.slider1.aSlide .promo_main p.lost span {font-size: 150%;}

li div.slider1.aSlide .promo_main p.notTyp {
	margin-left: 30px;font-size: .8em;
	float:left;color:#000;line-height: 12px;
}

li div.slider1.aSlide p.main_p {
	top:175px;font-size: 1.15em;left:320px;
}

li div.slider1.aSlide ul.orangeLinks {
	position:absolute;top:250px;left:369px;
}

li div.slider1.aSlide ul.orangeLinks li {
	display: block;height:32px;width:auto;position: relative;
margin-bottom: 5px;}

.slides li div.slider1.aSlide li:first-child {float:none;}

li div.slider1.aSlide ul.orangeLinks li a {
	display: block;height:24px;width:169px;
	background:url(../../images/hp-redesign-2012/carousel/orangeLink.png) no-repeat 0 0;
	text-indent: 0;
	line-height: 14px;
	letter-spacing: 0px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	display: block;
	padding-top: 12px;
	font-size: 100%;
}

.slides_container.short.homepageDefault {background: #fff}

.slides_container.short.homepageDefault li div.slider1 {
	background: url(../../images/hp-redesign-2012/carousel/homePage_slide1_3.jpg);
}

.slides_container.short.homepageDefault li div.slider1 h2 {
	position: absolute;
	left: 329px;
	font-size: 250%;
	font-weight: 400;
	color: black;
	line-height: 40px;
	letter-spacing: -1px;
	top: 42px;
}

.slides_container.short.homepageDefault li div.slider1 p.main {
	position: absolute;
	left: 329px;
	color: #181818;
	letter-spacing: -1px;
	top: 139px;
	font-size: 1.2em;
	line-height: 21px;
}

.slides_container.short.homepageDefault li div.slider1.aSlide ul.orangeLinks {
	top: 275px;
	left: 363px;
}

.slides_container.short.homepageDefault li div.slider1.aSlide ul.orangeLinks li a {
	background:url(../../images/hp-redesign-2012/carousel/orangeLinkLong.png) no-repeat 0 0;
	width:190px;text-align: left;
	padding-left: 20px;
}

.slides_container.short.homepageDefault li div.slider1.aSlide div.promo_main .promo_inner {
	height:105px;
}

.slides_container.short.homepageDefault li div.slider1.aSlide .promo_main .promo_inner h4 {font-size: 400%}

.slides_container.short.homepageDefault li div.slider1.aSlide div.promo_main p {margin-top: 2px;}

.slides_container.short.homepageDefault li div.slider1.aSlide div.promo_main h5 {margin-left: 0px;margin-top: 10px;}

.slides_container.short.homepageDefault li div.slider1.aSlide div.promo_main div.planWrap {margin:0;}

.slides_container.short.homepageDefault li div.slider1.aSlide p.lost {
	position: absolute;
	right: 668px;
	color: black;
	font-size: 120%;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	height: 40px;
	top: 257px;
	line-height: 23px;
}

.slides_container.short.homepageDefault li div.slider1.aSlide span {font-size: 150%;}

.slides_container.short.homepageDefault li div.slider1.aSlide .promo_main p.notTyp {margin-top: 30px;
margin-left: 14px;
line-height: 14px;}

li div.slider2.aSlide .promo_main {
	background:url(../../images/hp-redesign-2012/carousel/homePage_slide2_promoBg.jpg) no-repeat 0 0;
}
li div.slider3.aSlide .promo_main {
	background:url(../../images/hp-redesign-2012/carousel/homePage_slide3_promoBg.jpg) no-repeat 0 0;
}
li div.slider4.aSlide .promo_main {
	background:url(../../images/hp-redesign-2012/carousel/homePage_men_promoBg.jpg) no-repeat 0 0;
}
li div.slider2.aSlide p.main_p {top:195px;}
li div.slider3.aSlide p.main_p {top:195px;width:250px;}

li div.slider3.aSlide .promo_main h5 {height:42px;}
li div.slider3.aSlide .promo_main div.planWrap {margin-left:5px;}

li div.slider4.aSlide p.main_p {width:300px;color:#fff;}

li div.slider4.aSlide a.staticCTA {
	height:22px;
	display:block;
	width:200px;
	border-radius: 4px;
	color:#5391b8;
	top:0;
	position: absolute;
	z-index: 10;
	background: #fff url(../../images/hp-redesign-2012/carousel/linkBefore.png) no-repeat 10px 9px;
	padding: 5px 0 4px 30px;
	top:370px;
	left:335px;
}


.slider1 h1 {
	padding: 11px 0 0 270px;
}
.slider2 h1 {
	padding-left: 0px
}

.slider2 .promoDagger {text-align: left;line-height: 14px;color:#000;margin: 35px 0 0 25px;}

.slider2 .promoDagger p:first-child {font-size:1.5em;font-weight:600;}

.slider2 .promoDagger p.results {width:270px;font-size: .75em}



.slider3 h1 {
	padding-top: 115px;
}
.slider1 .txt {
	width: 325px;
	line-height: 18px;
	font-size: 14px;
	color: #4c4c4c;
	font-family: arial,;
	padding: 12px 0 0 275px;
}
.slider2 .txt {
	width: 260px;
	line-height: 18px;
	font-size: 14px;
	color: #4c4c4c;
	font-family: arial,;
	padding: 12px 0 0 0px;
}
.slider3 .txt {
	width: 305px;
	line-height: 18px;
	font-size: 14px;
	color: #4c4c4c;
	font-family: arial,;
	padding: 20px 0 0 0px;
}
.slider1 .cora-txt {
	margin: 80px 0 0 10px;
	width: 133px;
}
.slider1 .before-txt {
	display: block;
	margin: 15px 0 0 10px;
}
.bottom-navigation {
	background: url(../../images/hp-redesign-2012/carousel/slide_arrow_bg.png) no-repeat 0 0;
	width: 110px;
	height: 31px;
	position: absolute;
	bottom: 0px;
	margin-left: -55px;
	left: 50%;
	padding: 10px 25px 0 28px;
 *padding:10px 25px 0 58px;
	z-index: 10;
}
.offer-txt {
	background: #fff;
	padding: 10px;
	width: 200px;
	position: relative;
	left: 890px;
	bottom: 500px;
	opacity: 0.8;
	z-index: 10;
}
.cora_sub_txt {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
.cora_sub_txt1 {
	color: #666666;
	font-size: 11px;
}
#wrapper {
	float: left;
	width: 100%;
}
.slides {
	margin: 0 auto;
}
.slides_container {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	height:541px;
	background:#000;
	border-top:2px solid #ff6d01;	
}

.slides_container.short {height:414px;}


.slides {font-family: "ff-din-web",sans-serif;
	font-style: normal;
	font-weight: 300;}
.slides1_nav {
	position: absolute;
	/*top: 50%;*/
	left: 50%;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 13px;
	width: 13px;
	bottom:19px;
	z-index: 99999;
}
.slides1_nav.next {
	background: url('../../images/hp-redesign-2012/carousel/slide_right_arrow.png') right top no-repeat;
	width: 13px;
	height: 13px;
	margin-left: 65px;
}
.slides1_nav.prev {
	background: url('../../images/hp-redesign-2012/carousel/slide_left_arrow.png') left top no-repeat;
	width: 13px;
	height: 13px;
	margin-left: -30px;
}
.slides1_nav:focus {
	outline: none;
}
.slides_tabs {
	margin-top: 10px;
	text-align: center;
}
.slides_tabs li {
	display: inline;
	float: none;
	_float: left;
 *float: left;
	margin-right: 8px;
	position: relative;
top: -3px;
_top: 0px;
*top: 0px;
}
.slides_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	background: url(../../images/hp-redesign-2012/carousel/slide_black_dot.png) no-repeat 0 0;
	display: inline-block;
	_display: block;
 *display: block;
	margin-top: 2px;
	width: 8px;
	height: 8px;
}
.slides_tabs .slides_here a {
	background: url(../../images/hp-redesign-2012/carousel/slide_orange_dot.png) no-repeat 0 0;
	width: 8px;
	height: 8px;
	margin-top: 2px;
}
.slides {
	position: absolute;
	left:50%;
	list-style: none;
	overflow: hidden;
	width: 1599px;
	padding: 0;
	margin-left:-799px;
}
.slides li {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.slides li:first-child {
	position: relative;
	display: block;
	float: left;
}

div.seeTransform {
	display:block;
	width:307px;
	position: absolute;
	height:30px;
	background: #fff;
	border-radius: 4px;
	bottom: 155px;
	left: 333px;
	overflow:hidden;
}

div.seeTransform a {
	height:30px;
	display:block;
	width:100%;
	background: #fff;
	border-radius: 4px;
	color:#5391b8;
	top:0;
	position: absolute;
	z-index: 10;
	background:url(../../images/hp-redesign-2012/carousel/openBefore.png) no-repeat 10px 9px;
	padding: 5px 0 0 30px;
}

div.seeTransform.open a {
	background:url(../../images/hp-redesign-2012/carousel/closeBefore.png) no-repeat 10px 9px;
}

#jTransform div {
	background:url(../../images/hp-redesign-2012/carousel/jillianBeforeBg.png) no-repeat 0 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	height: 487px;
}

#jTransform div blockquote {
	position: absolute;
	top: 66px;
	color: #181818;
	font-weight: 600;
	font-size: 110%;
	left: 20px;
	line-height: 22px;
}

#jTransform div blockquote span.quoteBy {
	background:url(../../images/hp-redesign-2012/carousel/quoteDash.png) no-repeat 0 50%;
	padding-left: 16px;
	font-size: 105%;
	letter-spacing: -1px;
}

#jTransform div blockquote span.lost {
	line-height: 9px;
	display: block;
	margin-left: 17px;
}

#jTransform div h4 {
	position: absolute;
	bottom: 88px;
	color: white;
	font-size: 1.5em;
	left: 10px;
}
#jTransform div p {
	position: absolute;
	bottom: 22px;
	color: white;
	line-height: 13px;
	font-size: .7em;
	left: 10px;
	}

#jTransform div p strong {margin-bottom:2px;}

div#cTransform.seeTransform {width:254px;}

div#cTransform.seeTransform {background: transparent;}

div#cTransform a {
	color:#fff;font-size:.8em;top:3px;
	background:url(../../images/hp-redesign-2012/carousel/openBefore3.png) no-repeat 10px 4px;
	}

div#cTransform.open a {
	background:url(../../images/hp-redesign-2012/carousel/closeBefore3.png) no-repeat 10px 4px;
}

div#cTransform div {
	background:url(../../images/hp-redesign-2012/carousel/coupleBeforeBg.png) no-repeat 0 100%;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
	height: 347px;
}

#cTransform div blockquote {
	position: absolute;
	top: 50px;
	color: #fff;
	font-weight: 400;
	font-size: 100%;
	right: 10px;
	line-height: 18px;
}

#cTransform div blockquote span.quoteBy {
	background:url(../../images/hp-redesign-2012/carousel/quoteDash3.png) no-repeat 0 50%;
	padding-left: 16px;
	margin-top:10px;
	letter-spacing: -1px;
	display:block;
}

#cTransform div blockquote span.lost {
	line-height: 9px;
	display: block;
	margin-left: 17px;
	display:block;
}

#cTransform div h4 {
	position: absolute;
	bottom: 88px;
	color: white;
	font-size: 1.5em;
	left: 10px;
}
#cTransform div p {
	position: absolute;
	bottom: 0px;
	color: #000;
	line-height: 13px;
	font-size: .8em;
	right: 10px;
	width:110px;
	}

#cTransform div p strong {margin-bottom:2px;}

li div.aSlide .promo_main .promo_inner.threeWeeks {height:110px;}

li div.aSlide .promo_main .promo_inner.threeWeeks div {margin-top: 16px;}

li div.aSlide .promo_main .promo_inner.threeWeeks div h4 {margin-top:0;float:left;font-size:750%;line-height: 80px}

li div.aSlide .promo_main .promo_inner.threeWeeks div h5 {
	float: left;width:190px;height: 95px;margin-top: 6px;font-weight:bold;
	font-size: 185%;line-height: 25px;text-align: left;color:#000;
	}

li div.aSlide .promo_main .promo_inner.threeWeeks div h5 span {
	font-size: 1.5em;font-weight: 400;line-height: 50px;
	position: relative;color:#000;
	}



li div.aSlide .promo_main .promo_inner.sixtyOff h4 {
	margin-top:10px;margin-bottom:10px;font-weight:400;text-transform: uppercase;
	line-height: 90px;height:77px;letter-spacing: -4px;margin-left: 2px;
	}

li div.aSlide .promo_main .promo_inner.sixtyOff h4 span {
	display: inline;
	font-weight: 600;
	font-size: 140%;
	margin:0 5px;
}

li div.aSlide .promo_main .promo_inner.sixtyOff p {margin-top: 0}

li div.aSlide .promo_main .promo_inner.sixtyOff p span {color:#666;font-size:1.25em;}

li div.aSlide .promo_main .promo_inner.fiftyPercentOff {padding:20px 15px;}

li div.aSlide .promo_main .promo_inner.fiftyPercentOff h4 {margin-left:0;}

li div.aSlide .promo_main .promo_inner.chocolate p {margin-top: 0}

li div.aSlide .promo_main .promo_inner.chocolate p.chocoPack {
	color: black;text-align: left;font-size: 1em;text-transform: uppercase;
	margin-top: 6px;margin-left: 1px;font-weight: normal;line-height: 15px;
	}
.slides_container.short.homepageDefault.marie li div.slider1 {
	background: url(../../images/hp-redesign-2012/carousel/homePage_slide1_marie.jpg);
}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide p.lost {
	position: absolute;
	right: 927px;
	color: black;
	font-size: 120%;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	height: 40px;
	top: 350px;
	line-height: 23px;
}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main .promo_inner h4	 {
	font-size:350%;letter-spacing: -3px;margin-top: 12px;
}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main .promo_inner h4 span {font-size:100%;}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main .promo_inner p {
text-align: left;
margin-left: 22px;
font-size: .9em;
}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main h5 {padding-left: 0}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main p.notTyp {margin-top: 25px;}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide .promo_main h3 {
margin-top: 39px;
}

.slides_container.short.homepageDefault.marie li div.slider1.aSlide div.promo_main h5 {
margin-left: 0px;
margin-top: 4px;
}


/* CSS Document */

/* START HOME PAGE REDESIGN 2011 BTM ROW */

.btm-content3-bmi,
.btm-content3 {
	float:left;
	width:310px;
	height: 349px;
	background: url(../../images/hp-redesign-2012/hp/bmiBg.png) repeat-x;
	font-size:12px;
	padding:0;
}

.btm-content3 .copy {
width: 165px;
height: 127px;
padding-left: 120px;
font-size: 12px;
float: left;
background: url(../../images/hp-redesign-2012/btm-row/gcard/giftcard.png) no-repeat 5px 0;
}

.btm-content3-bmi * {
	font-family: "ff-din-web",sans-serif;
	font-style: normal;
	line-height: 1em;
}
.btm-content3-bmi p.title {
	width:282px;
	height:27px;
	float:left;
	padding:5px 0 0 5px;
}

.btm-content3-bmi h2.title {
	float: none;
height: auto;
width: 270px;
margin: 20px 0 10px 30px;
padding: 0;
font-size: 1.5em;
font-weight: 700;
}
.btm-content3-bmi h2.title span {
	color: #ff8001;
}

.btm-content3-bmi h2.title p {
	font-size:.75em;font-weight: 300;line-height: 1em
}
.btm-content3-bmi .form {
	width:282px;
	height:auto;
	float:left;
	margin-left:20px;
}

.btm-content3-bmi .left {
	width:55px;
	height:23px;
	float:left;
	text-align:left;
	font-weight:bold;
	padding:7px 0 0 9px;
	color:#7b7b7b;
}


.btm-content3-bmi .right {
	width:206px;
	height:30px;
	margin-left:10px;
	_margin-left:5px;
	text-align:left;
	font-size:12px;
	color:#939393;
	float:left;
}

.btm-content3-bmi .left-btn {
	width:55px;
	height:20px;
	float:left;
	text-align:left;
	font-weight:bold;
	padding:7px 0 0 9px;
	color:#7b7b7b;
}


.btm-content3-bmi .right-btn {
	width:206px;
	height:22px;
	margin-left:10px;
	_margin-left:5px;
	text-align:left;
	font-size:12px;
	color:#939393;
	float:left;
	padding-top:5px;
}

.btm-content3-bmi .results {
	width:137px;
	height:36px;
	float:left;
	margin-left:69px;
	margin-top:4px;
	overflow:hidden;
	line-height:100px;
	background-image:none;
}

.ToolText {
	position: relative;
}
.ToolTextHover {
	position:relative;
	z-index:20;
}
.ToolText span {
	display: none;
}
.ToolTextHover span {
	display:block;
	position:absolute;
	border:1px solid #fed47a;
	top:-160px;
	left:-200px;
	background-color:#FFFFCC;
	color:#666666;
	text-align: left;
	width: 200px;
	height:130px;
	_height:140px;
	*height:140px;
	padding: 10px;
	overflow:hidden;
}
.ToolTextHover .title {
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	padding:0 0 5px 0;
}
.ToolTextHover .copy {
	font-weight: normal;
	font-size: 12px;
	margin: 0px;
	padding :0;
	position:relative;
	top:-12px;
}
/* END HOME PAGE REDESIGN 2011 BTM ROW */